.load-item{
    display: flex;
    /* padding: 5px; */
    margin: 10px 0;
    /* background-color: aquamarine; */
    }
    .label{
        width: 20%;
    
    }
    .day{
     width: 15%;
    }
    .load-item input{
        width: 40%;
    }
    .title{
        font-weight: bold;
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
    }